.user-details {
    padding: 0.5rem 5rem 5rem 5rem;
}

.posts {
    border-bottom: 0.5rem solid gray;
}

.posts-info {
    border: 0.3rem solid gray;
    border-radius: 5rem;
    margin: 1rem;
    padding: 1rem;
    display: grid;
}

.back-button {
    padding: 1rem 0rem;
}
